:root{
    --primary-color: hsl(145, 100%, 39%);
    --accent-color: hsl(0, 0%, 7%);
    --background-color: black;
}
html{
    color: white;
}
body{
    padding: 0%;
    margin: 0%;
    height: 500vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}
nav{
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--accent-color);
    opacity: 50%;
    padding: 3px;
}
nav ul{
    display: flex;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: medium;
}

nav > ul > li > a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

a:hover{
    text-decoration: underline 2px solid var(--primary-color);
    transition: 100ms ease-in;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home > h1{
    font-size: 4em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px var(--primary-color);
}
.home > p{
    margin-bottom: 10px;
    padding: 0;
}
.col-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 50%;
    gap: 2em;
}
.col-1 > p{
    color: hsl(0, 0%, 83%);
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify; 
    text-justify: inter-word; 
    hyphens: auto; 
    -webkit-hyphens: auto; 
    -ms-hyphens: auto; 
    text-align-last: justify; 
    
}
.col-1 > button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
img{
    border-radius: 5px;
    height: 70vh;
    width: 50vh;
    background-color: wheat;
}
#about{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    gap: 5em;
}
#projects{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    gap: 5em;
}
#skills{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    gap: 5em;
}
#contact{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    gap: 5em;
}